=simple_nested_form_for([@question,@answer],remote: true) do |f|
  =f.input :body
  =f.simple_fields_for :attachments do |a|
    = a.input :file, as: :file
    = a.link_to_remove "Remove this Attachment"
  = f.link_to_add "Add an Attachment", :attachments
  =f.submit 'Post Your Answer'
